---
import Layout from '../layouts/Layout.astro';
import "../styles/global.css";

// Lista de proyectos
const proyectoLs = [
  { 
    name: "PetFinder", 
    url: "/pet_finder.jpeg", 
    descripcion: "PetFinder es una webapp que permite a las personas dar en adopción o adoptar mascotas. Fue desarrollada en equipo utilizando Next.js, y participé activamente en el backend, bases de datos y frontend. También asumí el rol de Scrum Master, facilitando la organización del equipo y asegurando una comunicación efectiva durante el desarrollo."
  },
  { 
    name: "Better Than Slice", 
    url: "/bts_mockup.png", 
    descripcion: "Better Than Slice es un sistema de reparto de comida desarrollado en pareja, utilizando HTML, CSS, MongoDB y TipyStrip. Durante el proyecto, me enfoqué en la lógica de negocio y la implementación de funcionalidades clave en backend y frontend, destacando mis habilidades en programación full-stack."
  }
];

---

<Layout title="Proyectos">
  <div class="container mx-auto p-4">
    <h1 class="text-3xl text-pink-500 font-bold mb-6 text-primary">Mis Proyectos</h1>
    <div class="grid grid-cols-1 md:grid-cols-1 lg:grid-cols-1 gap-6">
      
      {proyectoLs.map((proyecto) => (
        <div class="bg-white shadow-md rounded-lg overflow-hidden grid grid-cols-2" >
          <img src={proyecto.url} alt={proyecto.name} class="w-full h-full p-4 object-cover" />
          <div class="p-4">
            <h2 class="text-xl text-teal-500 font-semibold mb-2">{proyecto.name}</h2>
            <p class="text-gray-600">{proyecto.descripcion}</p>
          </div>
        </div>
      ))}
      
    </div>
  </div>
</Layout>
