---
// Props
const { value } = Astro.props;
---

<div class="w-full bg-gray-200 rounded-full h-2 dark:bg-gray-700">
  <div class="bg-teal-600 h-2 rounded-full" style={`width: ${value}%`}></div>
</div>
