---

import SkillsCard from '../components/SkillCard.astro';
---


<div class="text-center py-12">
	<h1 class="text-4xl font-bold mb-4 text-teal-600">Bienvenido a mi Portafolio</h1>
	<p class="mb-6 text-lg">Mi objetivo es combinar diseño y tecnología para resolver problemas de manera creativa.</p>
	<a class="w-64 h-64 bg-pink-500 px-6 py-2 rounded-full hover:bg-opacity-70 transition-colors inline-block" >
		<img src="/lesly2.jpg" alt="A description of my image." class="w-full h-full object-cover rounded-full"
		/>
	  </a>
	  
</div>
<div class="mt-8 grid grid-cols-1 md:grid-cols-1 gap-8">
	<div class="bg-pink-100 p-16 rounded-lg">
		<h2 class="text-2xl font-semibold mb-4 text-pink-500">Sobre Mí</h2>
		<p>
			Soy Lesly Flores, programadora junior con una combinación única de habilidades técnicas, 
			pensamiento analítico y experiencia en desarrollo de software. Me encanta abordar 
			desafíos desde diferentes perspectivas, adaptarme a entornos dinámicos y trabajar 
			en equipo para crear soluciones innovadoras que marquen la diferencia."
		</p>
	</div>
	<div class="bg-teal-100 p-4 rounded-lg">
		<h2 class="text-2xl font-semibold mb-4 text-teal-600">Mis Habilidades Técnicas</h2>
		<p>
			<SkillsCard />	
		</p>
	</div>
	<div class="bg-pink-100 p-4 rounded-lg mt-12 grid grid-cols-1 md:grid-cols-2 gap-8" >
		<div>
		<h2 class="text-2xl font-semibold mb-4 text-pink-500">Ciberseguridad</h2>
		<p>
			Soy Lesly Flores, programadora junior con una combinación única de habilidades técnicas, 
			pensamiento analítico y experiencia en desarrollo de software. Me encanta abordar 
			desafíos desde diferentes perspectivas, adaptarme a entornos dinámicos y trabajar 
			en equipo para crear soluciones innovadoras que marquen la diferencia."
		</p>
		</div>
		<div> 
			hola
		</div>
	</div>
</div>