

<div class="text-center py-12">
	<h1 class="text-4xl font-bold mb-4 text-teal-600">Bienvenido a mi Portafolio</h1>
	<p class="mb-6 text-lg">Mi objetivo es combinar diseño y tecnología para resolver problemas de manera creativa.</p>
	<a  class="bg-pink-100 bg-accent text-white px-6 py-2 rounded-full hover:bg-opacity-80 transition-colors">
		Ver mis proyectos
	</a>
</div>
<div class="mt-12 grid grid-cols-1 md:grid-cols-1 gap-8">
	<div class="bg-pink-100 p-6 rounded-lg">
		<h2 class="text-2xl font-semibold mb-4 text-pink-500">Sobre Mí</h2>
		<p>
			Soy Lesly Flores, programadora junior con una combinación única de habilidades técnicas, 
			pensamiento analítico y experiencia en desarrollo de software. Me encanta abordar 
			desafíos desde diferentes perspectivas, adaptarme a entornos dinámicos y trabajar 
			en equipo para crear soluciones innovadoras que marquen la diferencia."
		</p>
	</div>
</div>