

<div class="text-center py-12">
	<h1 class="text-4xl font-bold mb-4 text-teal-600">Bienvenido a mi Portafolio</h1>
	<p class="mb-6 text-lg">Mi objetivo es combinar diseño y tecnología para resolver problemas de manera creativa.</p>
	<div class="bg-teal-100 p-6 rounded-lg px-8 sm:px-16 md:px-24 lg:px-32">
		hola

	</div>
</div>
<div class="mt-12 grid grid-cols-1 md:grid-cols-2 gap-8">
	<div class="bg-teal-100 p-6 rounded-lg">
		<h2 class="text-2xl font-semibold mb-4 text-teal-600">Mis Habilidades</h2>
		<ul class="list-disc list-inside">
			<li>Diseño UI/UX</li>
			<li>Desarrollo Frontend</li>
			<li>Diseño Responsivo</li>
			<li>Optimización SEO</li>
		</ul>
	</div>
	<div class="bg-pink-100 p-6 rounded-lg">
		<h2 class="text-2xl font-semibold mb-4 text-pink-500">Sobre Mí</h2>
		<p>
			Soy una apasionada del diseño y desarrollo web con experiencia en crear
			experiencias digitales atractivas y funcionales. Me encanta combinar
			creatividad con tecnología para dar vida a ideas innovadoras.
		</p>
	</div>
</div>